<main>
    <section class="sec-1 container">
        <div class="sec-img">
            <img src="imagen/i2.png" alt="Imagen de construcción">
        </div>
        <div class="sec-txt">
            <h2>Construye</h2>
            <ul>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
            </ul>
        </div>
    </section>

    <section class="sec-1 container">
        <div class="sec-img sec-2">
            <img src="imagen/i3.png" alt="Imagen adicional">
        </div>
        <div class="sec-txt">
            <!-- Contenido de la segunda sección -->
        </div>
    </section>
</main>

<footer class="footer container">
    <div class="link">
        <h3>Lorem</h3>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>
    <div class="link">
        <h3>Lorem</h3>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>
    <div class="link">
        <h3>Lorem</h3>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>
    <div class="link">
        <h3>Lorem</h3>
        <ul>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">lorem</a></li>
        </ul>
    </div>
</footer>
